<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Recommendations for {{ search_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,500&amp;display=swap'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 100%;
  background-color: #0f0133;
  line-height: 1.5;
  color: #000;
}
@media (min-width: 32rem) {
  body {
    font-size: 102.5%;
  }
}
@media (min-width: 54rem) {
  body {
    font-size: 105%;
  }
}
@media (min-width: 65rem) {
  body {
    font-size: 107.5%;
  }
}
@media (min-width: 75em) {
  body {
    font-size: 110%;
  }
}
@media (min-width: 91rem) {
  body {
    font-size: 115%;
  }
}
@media (min-width: 115rem) {
  body {
    font-size: 120%;
  }
}
@media (min-width: 130rem) {
  body {
    font-size: 125%;
  }
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

figure {
  max-width: 100%;
  height: auto;
  margin: 0;
}
    
.movie{
    display: block;
    text-align: center;
}
#back_btn{
    width: 20%;
    padding: 1em;
    margin-left: 13em;
    margin-top: 1em;
    border-radius: 5px;
    color: white;
    background-color:rgb(25, 139, 253);
    border-style: none;
}

.movie_table{
  width: 800px;
  background-color: rgb(244, 246, 244);
}
button{
  margin-left: 10vh;
  margin-top: 3vh;
}
@media screen and (max-width:600px) {
    .movie{
        padding-top: 12vh;
    }
}
    table,tr,td,th{
        border: 1px solid black;
        border-collapse: collapse;
    }
    td{
      padding: 10px;  
    }

  .heading{
    color: white;
  }

  .book_tkt{
    width: 20%;
    padding: 1em;
    border-radius: 5px;
    color: white;
    background-color:rgb(0, 7, 14);
    border-style: none;
  }

  .watch_movie{
    width: 20%;
    padding: 1em;
    border-radius: 5px;
    color: white;
    background-color:rgb(0, 7, 14);
    border-style: none;
  }
</style>
</head>
<body>
    <button id="back_btn" onClick={window.history.back()}>Back to Home Page</button>
    <br>
    <div class="movie">
        <br>
        <h2><u  class="heading">Movie Recommendations for "{{ search_name }}"</u></h2>
        <div class="color">
          <table class="movie_table" align="center">
            <tr>
                <th>S.No</th>
                <th>Movie Title</th>
                <th>Release Date</th>
                <th>Director</th>
                <th>⭐ IMDB Rating ⭐</th>
                <th>Budget</th>
                <th>Language released</th>
                <th>Duration (in min)</th>
                <th>Actors</th>
                <th>Total voting count</th>
            </tr>
            <tbody class="table_body">
                <tr>
                    <td>1</td>
                    <td>{{ movie_names[0] }}</td>
                    <td>{{ movie_releaseDate[0] }}</td>
                    <td>{{ movie_director[0]}}</td>
                    <td>{{movie_imdb[0]}}</td>
                    <td>{{movie_budget[0]}}</td>
                    <td>{{movie_language[0]}}</td>
                    <td>{{movie_duration[0]}}</td>
                    <td>{{movie_cast[0]}}</td>
                    <td>{{movie_vote[0]}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{ movie_names[1] }}</td>
                    <td>{{ movie_releaseDate[1] }}</td>
                    <td>{{ movie_director[1]}}</td>
                    <td>{{movie_imdb[1]}}</td>
                    <td>{{movie_budget[1]}}</td>
                    <td>{{movie_language[1]}}</td>
                    <td>{{movie_duration[1]}}</td>
                    <td>{{movie_cast[1]}}</td>
                    <td>{{movie_vote[1]}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{ movie_names[2] }}</td>
                    <td>{{ movie_releaseDate[2] }}</td>
                    <td>{{ movie_director[2]}}</td>
                    <td>{{movie_imdb[2]}}</td>
                    <td>{{movie_budget[2]}}</td>
                    <td>{{movie_language[2]}}</td>
                    <td>{{movie_duration[2]}}</td>
                    <td>{{movie_cast[2]}}</td>
                    <td>{{movie_vote[2]}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{ movie_names[3] }}</td>
                    <td>{{ movie_releaseDate[3] }}</td>
                    <td>{{ movie_director[3]}}</td>
                    <td>{{movie_imdb[3]}}</td>
                    <td>{{movie_budget[3]}}</td>
                    <td>{{movie_language[3]}}</td>
                    <td>{{movie_duration[3]}}</td>
                    <td>{{movie_cast[3]}}</td>
                    <td>{{movie_vote[3]}}</td>
                </tr>
                <tr>
                  <td>5</td>
                    <td>{{ movie_names[4] }}</td>
                    <td>{{ movie_releaseDate[4] }}</td>
                    <td>{{ movie_director[4]}}</td>
                    <td>{{movie_imdb[4]}}</td>
                    <td>{{movie_budget[4]}}</td>
                    <td>{{movie_language[4]}}</td>
                    <td>{{movie_duration[4]}}</td>
                    <td>{{movie_cast[4]}}</td>
                    <td>{{movie_vote[4]}}</td>
                </tr>
                <tr>
                  <td>6</td>
                    <td>{{ movie_names[5] }}</td>
                    <td>{{ movie_releaseDate[5] }}</td>
                    <td>{{ movie_director[5]}}</td>
                    <td>{{movie_imdb[5]}}</td>
                    <td>{{movie_budget[5]}}</td>
                    <td>{{movie_language[5]}}</td>
                    <td>{{movie_duration[5]}}</td>
                    <td>{{movie_cast[5]}}</td>
                    <td>{{movie_vote[5]}}</td>
                </tr>
                <tr>
                  <td>7</td>
                    <td>{{ movie_names[6] }}</td>
                    <td>{{ movie_releaseDate[6] }}</td>
                    <td>{{ movie_director[6]}}</td>
                    <td>{{movie_imdb[6]}}</td>
                    <td>{{movie_budget[6]}}</td>
                    <td>{{movie_language[6]}}</td>
                    <td>{{movie_duration[6]}}</td>
                    <td>{{movie_cast[6]}}</td>
                    <td>{{movie_vote[6]}}</td>
                </tr>
                <tr>
                  <td>8</td>
                    <td>{{ movie_names[7] }}</td>
                    <td>{{ movie_releaseDate[7] }}</td>
                    <td>{{ movie_director[7]}}</td>
                    <td>{{movie_imdb[7]}}</td>
                    <td>{{movie_budget[7]}}</td>
                    <td>{{movie_language[7]}}</td>
                    <td>{{movie_duration[7]}}</td>
                    <td>{{movie_cast[7]}}</td>
                    <td>{{movie_vote[7]}}</td>
                </tr>
                <tr>
                  <td>9</td>
                    <td>{{ movie_names[8] }}</td>
                    <td>{{ movie_releaseDate[8] }}</td>
                    <td>{{ movie_director[8]}}</td>
                    <td>{{movie_imdb[8]}}</td>
                    <td>{{movie_budget[8]}}</td>
                    <td>{{movie_language[8]}}</td>
                    <td>{{movie_duration[8]}}</td>
                    <td>{{movie_cast[8]}}</td>
                    <td>{{movie_vote[8]}}</td>
                </tr>
                <tr>
                  <td>10</td>
                    <td>{{ movie_names[9] }}</td>
                    <td>{{ movie_releaseDate[9] }}</td>
                    <td>{{ movie_director[9]}}</td>
                    <td>{{movie_imdb[9]}}</td>
                    <td>{{movie_budget[9]}}</td>
                    <td>{{movie_language[9]}}</td>
                    <td>{{movie_duration[9]}}</td>
                    <td>{{movie_cast[9]}}</td>
                    <td>{{movie_vote[9]}}</td>
                </tr>
                <tr>
                  <td>11</td>
                    <td>{{ movie_names[10] }}</td>
                    <td>{{ movie_releaseDate[10] }}</td>
                    <td>{{ movie_director[10]}}</td>
                    <td>{{movie_imdb[10]}}</td>
                    <td>{{movie_budget[10]}}</td>
                    <td>{{movie_language[10]}}</td>
                    <td>{{movie_duration[10]}}</td>
                    <td>{{movie_cast[10]}}</td>
                    <td>{{movie_vote[10]}}</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>{{ movie_names[11] }}</td>
                  <td>{{ movie_releaseDate[11] }}</td>
                  <td>{{ movie_director[11]}}</td>
                  <td>{{movie_imdb[11]}}</td>
                  <td>{{movie_budget[11]}}</td>
                  <td>{{movie_language[11]}}</td>
                  <td>{{movie_duration[11]}}</td>
                  <td>{{movie_cast[11]}}</td>
                  <td>{{movie_vote[11]}}</td>
              </tr>
              <tr>
                  <td>13</td>
                  <td>{{ movie_names[12] }}</td>
                  <td>{{ movie_releaseDate[12] }}</td>
                  <td>{{ movie_director[12]}}</td>
                  <td>{{movie_imdb[12]}}</td>
                  <td>{{movie_budget[12]}}</td>
                  <td>{{movie_language[12]}}</td>
                  <td>{{movie_duration[12]}}</td>
                  <td>{{movie_cast[12]}}</td>
                  <td>{{movie_vote[12]}}</td>
              </tr>
              <tr>
                  <td>14</td>
                  <td>{{ movie_names[13] }}</td>
                  <td>{{ movie_releaseDate[13] }}</td>
                  <td>{{ movie_director[13]}}</td>
                  <td>{{movie_imdb[13]}}</td>
                  <td>{{movie_budget[13]}}</td>
                  <td>{{movie_language[13]}}</td>
                  <td>{{movie_duration[13]}}</td>
                  <td>{{movie_cast[13]}}</td>
                  <td>{{movie_vote[13]}}</td>
              </tr>
              <tr>
                <td>15</td>
                  <td>{{ movie_names[14] }}</td>
                  <td>{{ movie_releaseDate[14] }}</td>
                  <td>{{ movie_director[14]}}</td>
                  <td>{{movie_imdb[14]}}</td>
                  <td>{{movie_budget[14]}}</td>
                  <td>{{movie_language[14]}}</td>
                  <td>{{movie_duration[14]}}</td>
                  <td>{{movie_cast[14]}}</td>
                  <td>{{movie_vote[14]}}</td>
              </tr>
              <tr>
                <td>16</td>
                  <td>{{ movie_names[15] }}</td>
                  <td>{{ movie_releaseDate[15] }}</td>
                  <td>{{ movie_director[15]}}</td>
                  <td>{{movie_imdb[15]}}</td>
                  <td>{{movie_budget[15]}}</td>
                  <td>{{movie_language[15]}}</td>
                  <td>{{movie_duration[15]}}</td>
                  <td>{{movie_cast[15]}}</td>
                  <td>{{movie_vote[15]}}</td>
              </tr>
              <tr>
                <td>17</td>
                  <td>{{ movie_names[16] }}</td>
                  <td>{{ movie_releaseDate[16] }}</td>
                  <td>{{ movie_director[16]}}</td>
                  <td>{{movie_imdb[16]}}</td>
                  <td>{{movie_budget[16]}}</td>
                  <td>{{movie_language[16]}}</td>
                  <td>{{movie_duration[16]}}</td>
                  <td>{{movie_cast[16]}}</td>
                  <td>{{movie_vote[16]}}</td>
              </tr>
              <tr>
                <td>18</td>
                  <td>{{ movie_names[17] }}</td>
                  <td>{{ movie_releaseDate[17] }}</td>
                  <td>{{ movie_director[17]}}</td>
                  <td>{{movie_imdb[17]}}</td>
                  <td>{{movie_budget[17]}}</td>
                  <td>{{movie_language[17]}}</td>
                  <td>{{movie_duration[17]}}</td>
                  <td>{{movie_cast[17]}}</td>
                  <td>{{movie_vote[17]}}</td>
              </tr>
              <tr>
                <td>19</td>
                  <td>{{ movie_names[18] }}</td>
                  <td>{{ movie_releaseDate[18] }}</td>
                  <td>{{ movie_director[18]}}</td>
                  <td>{{movie_imdb[18]}}</td>
                  <td>{{movie_budget[18]}}</td>
                  <td>{{movie_language[18]}}</td>
                  <td>{{movie_duration[18]}}</td>
                  <td>{{movie_cast[18]}}</td>
                  <td>{{movie_vote[18]}}</td>
              </tr>
              <tr>
                <td>20</td>
                  <td>{{ movie_names[19] }}</td>
                  <td>{{ movie_releaseDate[19] }}</td>
                  <td>{{ movie_director[19]}}</td>
                  <td>{{movie_imdb[19]}}</td>
                  <td>{{movie_budget[19]}}</td>
                  <td>{{movie_language[19]}}</td>
                  <td>{{movie_duration[19]}}</td>
                  <td>{{movie_cast[19]}}</td>
                  <td>{{movie_vote[19]}}</td>
              </tr>
              
            </tbody>
        </table>
        </div>
        <br>
        <button class="book_tkt" onClick="bktkt()">Book Ticket</button>
        <button class="watch_movie" onClick="ott()">Watch Movie</button>
        <br>
        <br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js'></script>    
<script>
function bktkt() {
  window.location.assign("http://localhost/movie_ticket/")
}

function ott() {
  window.location.assign("http://localhost/Netflex/")
}
</script>
  
</body>
</html>
